<!--
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a routerLink="/animals" class="btn btn-info">List Animals</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/addanimal" class="btn btn-info">Add Animal</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/species" class="btn btn-info">List species</a>
            </li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
style="background-image: url('background.jpg');"
-->

<app-menu></app-menu>
<div class="container">
    <router-outlet></router-outlet>
</div>

<div class="jumbotron position-absolute bg-transparent">
  <h1 class="display-4">Welcome to Reptilium</h1>
  <p class="lead">We don't have dinausors, but we get theirs ancestors</p>
  <hr class="my-4">
  <p>Go visit our vivarium dedicated to reptile ! Alligator, turtle, lizard, we invite you to discover thoses magnificient species throught our activties
  </p>
</div>



<!--
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">

      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
-->

