<div class="card my-5 bg-dark">
  <div class="card-body bg-dark">
    <table class="table table-dark ">
      <thead class="thead bg-secondary">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Sector</th>
        <th scope="col">Name</th>
        <th scope="col">Volume</th>
        <th scope="col">Animal Capacity</th>
        <th scope="col">Clean</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let pool of pools">
        <td>{{ pool.id }}</td>
        <td>{{ pool.sector?.name}}</td>
        <td>{{ pool.name}}</td>
        <td>{{ pool.volume }}</td>
        <td>{{ pool.populationmax }}</td>
        <td>{{ pool.clean }}</td>
        <td>
          <button type="button" class="btn btn-danger" (click)="onDeletePool(pool.id)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-center">
      <button type="button" class="btn btn-success " routerLink="add/">Add an pool</button>
    </div>
  </div>
</div>
