<div class="card my-5 bg-dark">
  <div class="card-body bg-dark">
    <table class="table table-dark ">
      <thead class="thead bg-secondary">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Specie name</th>
        <th scope="col">Arriving</th>
        <th scope="col">Departure</th>
        <th scope="col">Marks</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let animal of animals">
        <td>{{ animal.id }}</td>
        <td>{{ animal.specie?.name}}</td>
        <td>{{ animal.arriving | date : " HH:mm dd/MM/y" }}</td>
        <td>{{ animal.departure }}</td>
        <td>{{ animal.marks }}</td>
        <!--
        <td><a href="mailto:{{ animal.email }}">{{ animal.email }}</a></td>
        -->
      </tr>
      </tbody>
    </table>
  </div>
</div>
