<div class="container">
  <div class="row">
    <div class="col-md-4 mx-auto my-5">
      <div class="card elegant-color-dark text-light z-depth-2 ">
        <div class="card-body text-center">
          <div class="card elegant-color text-light z-depth-2 animated fadeInDown">
            <div class="card-body text-center">
              <h3 class="card-title ">Add Sector</h3>
              <p class="slogan "> Create an Animal City !</p>
            </div>
          </div>
          <form  (ngSubmit)="onSubmit()" #specieForm="ngForm">
            <div class="md-form ">
              <input id="name" name="name" class="form-control"
                     [(ngModel)]="sector.name" placeholder="Name"
                     type="text" required #field="ngModel">
            </div>
            <div class="card-foter text-right">
              <button type="button" [disabled]="!specieForm.form.valid" (click)="onSubmit()"
                      class="btn elegant-color border-0 btn-outline-light z-depth-2 animated fadeInUp">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

