<div class="card my-5 bg-dark">
  <div class="card-body bg-dark  text-light">
    <form (ngSubmit)="onSubmit()" #animalForm="ngForm">
      <div class="form-group ">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="animal.name"
               class="form-control"
               id="name"
               name="name"
               placeholder="Crocodile"
               required #name="ngModel">
      </div>

      <div class="form-group ">
        <label for="name">Genre</label>
        <input type="text" [(ngModel)]="animal.genre"
               class="form-control"
               id="lifeSpan"
               name="lifeSpan"
               placeholder="Male|Female"
               required #name="ngModel">
      </div>

      <div class="form-group">
        <label for="name">Specie</label>
        <select type=Specie [(ngModel)]="animal.specie"
                class="form-control"
                id="specie"
                name="specie"
                placeholder=""
                required #name="ngModel">>
          <option *ngFor="let specie of species" [ngValue]="specie">
            {{specie.name}}
          </option>
        </select>
      </div>
      <div class="form-group ">
        <label for="name">Arriving</label>
        <input type="date" [(ngModel)]="animal.arriving"
               class="form-control"
               id="arriving"
               name="arriving"
               placeholder="DD-MM-YYYY"
               required #name="ngModel">
      </div>
      <div class="form-group ">
        <label for="name">Departure</label>
        <input type="date" [(ngModel)]="animal.departure"
               class="form-control"
               id="departure"
               name="departure"
               placeholder="DD-MM-YYYY"
               required #name="ngModel">
      </div>
      <div class="form-group ">
        <label for="name">Marks</label>
        <input type="text" [(ngModel)]="animal.marks"
               class="form-control"
               id="marks"
               name="marks"
               placeholder="Note specifity here"
               required #name="ngModel">
      </div>
      <button type="submit" [disabled]="!animalForm.form.valid"
              class="btn btn-light">Submit</button>
    </form>
  </div>
</div>

