<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Life span</th>
        <th scope="col">Population</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let specie of species">
        <td>{{ specie.id }}</td>
        <td>{{ specie.name }}</td>
        <td>{{ specie.lifeSpan}}</td>
        <td>{{ countAnimals(specie) }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
