<div class="card my-5 bg-dark">
  <div class="card-body bg-dark">
    <table class="table table-dark ">
      <thead class="thead bg-secondary">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Life span</th>
        <th scope="col">Population</th>
        <th scope="col"></th>
        <th scope="col"></th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let specie of species">
        <td>{{ specie.id }}</td>
        <td>{{ specie.name }}</td>
        <td>{{ specie.lifeSpan}}</td>
        <td>{{ countAnimals(specie) }}</td>
        <td>
        <button type="button" class="btn btn-danger" (click)="onDeleteSpecie(specie.id)">Delete</button>
        </td>
        <td>
        <button type="button" class="btn btn-info" routerLink="update/{{specie.id}}">Update</button>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-center">
      <button type="button" class="btn btn-success " routerLink="add/">Add a specie</button>
    </div>
  </div>
</div>
